<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/VendorName/Sitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <f:comment><!--This is an example page layout--></f:comment>
    <div class="row">
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
        </div>
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
        </div>
    </div>
</f:section>
</html>
