<f:if condition="{items}">
    <ul>
        <f:for each="{items}" as="item">
            <f:variable name="itemClasses"/>
            <f:if condition="{item.active}">
                <f:variable name="itemClasses" value="{itemClasses} active"/>
            </f:if>
            <f:if condition="{item.current}">
                <f:variable name="itemClasses" value="{itemClasses} current"/>
            </f:if>
            <f:if condition="{item.spacer}">
                <f:variable name="itemClasses" value="{itemClasses} spacer"/>
            </f:if>
            <f:if condition="{item.hasSubpages}">
                <f:variable name="itemClasses" value="{itemClasses} hasSubpages"/>
            </f:if>
            <f:if condition="{item.available}">
                <f:variable name="itemClasses" value="{itemClasses} available"/>
            </f:if>
            <li{f:if(condition:itemClasses,then:' class="{itemClasses -> f:spaceless()}"')}>
                <a href="{item.link}" {f:if(condition:item.target,then:' target="{item.target}"')}>
                <f:if condition="{item.navigationTitle}">
                    <f:then>{item.navigationTitle}</f:then>
                    <f:else>{item.title}</f:else>
                </f:if>
                </a>
            </li>
        </f:for>
    </ul>
</f:if>