<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:asset.css identifier="content-block-css-sitepackage-sitepackage/newcontentelement" href="{cb:assetPath()}/frontend.css"/>
<f:asset.script identifier="content-block-js-sitepackage-sitepackage/newcontentelement" src="{cb:assetPath()}/frontend.js"/>
<f:layout name="Default"/>
<f:section name="Main">
    <f:format.html>{data.bodytext}</f:format.html>
</f:section>
</html>
