<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/VendorName/Sitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:spaceless>
    <header id="">
        <f:comment><!-- Language Navigation --></f:comment>
        <f:render partial="Navigation" arguments="{items:navigationLanguage}"/>
        <f:comment><!-- Main Navigation --></f:comment>
        <f:render partial="Navigation" arguments="{items:navigationMain}"/>
        <f:comment><!-- Rootline Navigation --></f:comment>
        <f:render partial="Navigation" arguments="{items:navigationRootline}"/>
    </header>
    <main>
        <f:comment><!--TYPO3SEARCH_begin--></f:comment>
        <f:render section="Main"/>
        <f:comment><!--TYPO3SEARCH_end--></f:comment>
    </main>
    <footer>
        &copy;
        <f:format.date format="Y">now</f:format.date>
        <f:alias map="{
            languageWebsiteTitle: '{site.languages.{language.languageId}.websiteTitle}',
            websiteTitle: site.configuration.websiteTitle,
            host: '{f:cObject(typoscriptObjectPath: \'lib.getIndpEnv\', data: \'TYPO3_HOST_ONLY\')}'
        }">
            <f:variable name="websiteTitle" value="{languageWebsiteTitle ?: websiteTitle}"/>
            {websiteTitle ?: host}
        </f:alias>
    </footer>
</f:spaceless>
</html>
